_ReSharper*

bin
build
!/tools/*/bin
!/bin
!/lib/*.dll
!/tools/*/*
!/tools/*/*/*
!/tools/*/*/*/*
obj

.DS_Store

Thumbs.db

*.user

*.suo

*.xap

*.bak

*.dat
*.log
*.Cache
*.StyleCop
*.ncrunchsolution
*.ncrunchproject
_NCrunch*
App.Config